name: Build Flutter APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      # This creates the android folder that your repo is missing
      - name: Recreate Android platform files
        run: flutter create . --platforms android

      # This injects your logo into the newly created android folder
      - name: Generate App Icons
        run: flutter pub run flutter_launcher_icons

      # This injects your splash screen into the newly created android folder
      - name: Generate Splash Screen
        run: flutter pub run flutter_native_splash:create

      - name: Build Release APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
